

<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer id="sidenav" mode="side" [opened]="true">
    <div id="logo-container">
      PLATZ FÜR LOGO
    </div>
    <ul>
      <a href=""><mat-icon>dashboard</mat-icon>Dashboard</a>
      <a href="user"><mat-icon>person</mat-icon>User</a>
    </ul>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <mat-icon (click)="drawer.toggle()" id="menu">menu</mat-icon>
        <span>Custom Toolbar</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div id="router-container">
      <router-outlet />
    </div>
  </div>
</mat-drawer-container>

